$icon-size-1: 10px;

$border-radius-1: 2px;
$border-radius-2: 4px;

$border-width-1: 1px;
$border-width-2: 2px;

$header-height-mobile: 68px;
$header-height-tablet: 68px;

$footer-height-mobile: 71px;
$footer-height-tablet: 55px;
