<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ .Site.Params.htmlmetadata.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="{{ .Site.Params.htmlmetadata.description }}" />
<meta name="keywords" content="" />
<meta name="author" content="Till Hinrichs" />

<meta http-equiv="last-modified" content="Sun, 11 Dec 2016 14:00:46 GMT " />
<meta http-equiv="cache-control" content="Private" />
<meta http-equiv="Expires" content="604800" />

<link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.BaseURL }}img/favicons/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.BaseURL }}img/favicons/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.BaseURL }}img/favicons/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.BaseURL }}img/favicons/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.BaseURL }}img/favicons/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.BaseURL }}img/favicons/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.BaseURL }}img/favicons/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.BaseURL }}img/favicons/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.BaseURL }}img/favicons/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="{{ .Site.BaseURL }}img/favicons/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.BaseURL }}img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ .Site.BaseURL }}img/favicons/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.BaseURL }}img/favicons/favicon-16x16.png">
<link rel="manifest" href="{{ .Site.BaseURL }}img/favicons/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="{{ .Site.BaseURL }}img/favicons/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/stylesheet.css">

<!-- BrowserUpdate -->
<script>
	var $buoop = {
		vs: {
			i: 10,
			f: -4,
			o: -4,
			s: 8,
			c: -4
		},
		api: 4
	};

	function $buo_f() {
		var e = document.createElement("script");
		e.src = "//browser-update.org/update.min.js";
		document.body.appendChild(e);
	};
	try {
		document.addEventListener("DOMContentLoaded", $buo_f, false)
	} catch (e) {
		window.attachEvent("onload", $buo_f)
	}
</script>
