*,
body,
button,
input,
optgroup,
select,
textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: $color-midnight-blue;
}

p,
span {
	font-size: $font-size-s;
	line-height: 1.66;
	margin-bottom: 16px;
	hyphens: auto;
}

label {
	hyphens: auto;
}

h1,
h2,
h3,
h4 {
	hyphens: auto;
}

h1 {
	font-weight: 600;
	font-size: $font-size-l;
}

small {
	font-size: 12px;
	line-height: 1.25;
}
