<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html lang="{{ .Lang }}">

<head>
	{{ partial "head.html" .}} {{ partial "social-media-meta-global.html" .}}
</head>

<body>
  {{ partial "navigation.html" .}}
	<div class="o_content">
		<p> Single </p>
	</div>
	{{ partial "footer.html" .}}
</body>

</html>
